.inputLightMode:focus {
  outline: 1px solid #85cdcb;
}

.textareaLightMode:focus {
  outline: 1px solid #85cdcb;
}

.inputDarkMode:focus {
  outline: 1px solid #950740;
}

.textareaDarkMode:focus {
  outline: 1px solid #950740;
}
